<f:if condition="{chatEntries}">
	<f:then>
		<table class="table dataTable">
			<thead>
				<tr>
					<th>username</th>
					<th>creationDate</th>
					<th>message</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{chatEntries}" as="chatEntry" iteration="it">
				<tr class="{f:if(condition: it.isOdd, then: ' cs-odd', else: ' cs-even')}">
								<td>{chatEntry.user.displayName}</td>
								<td><f:format.date format="d.m.Y H:i">{chatEntry.creationDate}</f:format.date></td>
								<td>{chatEntry.message}</td>
								<td><f:render partial="Actions/RestAction" arguments="{object: chatEntry}" /></td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<p>no chat entry created</p>
	</f:else>
</f:if>
