<f:layout name="Default" />

<f:section name="Content">
	<h2>{user.displayName}</h2>
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<div class="row">
			<ul class="nav nav-pills">
				<li>
					<f:link.action action="index" arguments="{cup: recentCup}">to list</f:link.action>
				</li>
				<li class="active"><a href="#show" data-toggle="tab">show</a></li>
				<li><a href="#new" data-toggle="tab">new</a></li>
				<li><a href="#edit" data-toggle="tab">edit</a></li>
				<li><a href="#password" data-toggle="tab">password</a></li>
				<li><f:render partial="Actions/Delete" arguments="{object: user}" /></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="row tab-pane active" id="show">
				<f:render partial="User/Show" arguments="{user: user, recentCup: recentCup}" />
			</div>
			<div class="row tab-pane" id="edit">
				<f:render partial="User/Edit" arguments="{user: user, allTipGroups: allTipGroups}" />
			</div>
			<div class="row tab-pane" id="new">
				<f:render partial="User/New" arguments="{allTipGroups: allTipGroups}" />
			</div>
			<div class="row tab-pane" id="password">
				<f:render partial="Password/New" arguments="{user: user}" />
			</div>
		</div>
	</f:security.ifHasRole>

	<f:security.ifHasRole role="AchimFritz.ChampionShip:User">
		<div class="row">
			<div class="col-md-6 col-xs12">
				<f:render partial="User/Edit" arguments="{user: user, allTipGroups: allTipGroups}" />
			</div>
			<div class="col-md-6 col-xs12">
				<f:render partial="Password/New" arguments="{user: user}" />
			</div>
		</div>
	</f:security.ifHasRole>

</f:section>

