	<f:if condition="{round.groupTableRows}">
		<f:then>
				<table class="table">
					<thead>
					<tr>
						<th><f:translate id="groupTable.rank" /></th>
						<th><f:translate id="groupTable.team" /></th>
						<th><f:translate id="groupTable.countOfMatchesPlayed" /></th>
						<th>+</th>
						<th>0</th>
						<th>-</th>
						<th><f:translate id="groupTable.goals" /></th>
						<th><f:translate id="groupTable.points" /></th>
				</tr>
				</thead>
				<tbody>
					<f:for each="{round.groupTableRows}" as="row" iteration="it">
						<tr class="{f:if(condition: it.isOdd, then: ' cs-odd', else: ' cs-even')}">
							<td>{row.rank}</td>
							<td>
								<img src="{f:uri.resource(path: 'Images/clear.gif')}" class="flag flag-{row.team.iso2}" alt="{row.team.name}" />
								{row.team.name}
							</td>
							<td>{row.countOfMatchesPlayed}</td>
							<td>{row.countOfMatchesWon}</td>
							<td>{row.countOfMatchesRemis}</td>
							<td>{row.countOfMatchesLoosed}</td>
							<td>{row.goalsPlus}:{row.goalsMinus}</td>
							<td>{row.points}</td>
						</tr>
					</f:for>
				</tbody>
			</table>				
		</f:then>
		<f:else>
			<p>no groupTableRows</p>
		</f:else>
	</f:if>
  <f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
  <f:form action="index" method="update" controller="GroupTable" arguments="{groupRound: round}">
			<f:form.hidden name="__method" value="PUT" />
				<f:form.submit name="submit" value="update" class="btn" />
			</f:form>
  </f:security.ifHasRole>
