	<h2>{round.name}</h2>
	<f:if condition="{round.generalMatches}">
		<f:then>
			<h3>Matches</h3>
			<f:render partial="Match/List" arguments="{matches: round.generalMatches}" />
		</f:then>
		<f:else>
			<p>no matches</p>
		</f:else>
	</f:if>	
	
			<h3>GroupTable TODO partial</h3>
	
	<f:if condition="{round.groupTableRows}">
		<f:then>
			<table>
				<f:for each="{round.groupTableRows}" as="row">
					<tr>
						<td>{row.rank}</td>
						<td>{row.team.name}</td>
						<td>{row.goalsPlus}:{row.goalsMinus}</td>
						<td>{row.goalsDiff}</td>
						<td>{row.points}</td>
					</tr>
				</f:for>
			</table>				
		</f:then>
		<f:else>
			<p>no groupTableRows</p>
		</f:else>
	</f:if>
              <f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
				  <f:form action="index" method="update" controller="GroupTable" arguments="{groupRound: groupRound}">
							<f:form.hidden name="__method" value="PUT" />
                        <f:form.submit name="submit" value="update" class="btn" />
                     </f:form>
				  </f:security.ifHasRole>

			<h3>Teams</h3>

	<f:if condition="{round.teams}">
		<f:then>
			<f:render partial="Team/List" arguments="{teams: round.teams}" />
		</f:then>
		<f:else>
			<p>no teams</p>
		</f:else>
	</f:if>	
