<f:if condition="{match.hostGroupRound.groupTableRows}">
	<h2>set hostTeam TODO get by rank ....</h2>
	<f:form action="index" object="{match}"  name="match" controller="CrossGroupRoundMatch" method="put">
		<f:form.hidden name="__method" value="PUT" />
		<div class="control-group">
			<label class="control-label" for="guestGroupRank">guestGroupRank</label>
			<div class="controlls">
				<f:form.textfield property="guestGroupRank" id="guestGroupRound" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<f:form.submit value="Update" class="btn"/>
			</div>
		</div>
	</f:form>
</f:if>
<h2>edit cross group match</h2>

<f:form action="index" object="{match}"  name="match" controller="CrossGroupRoundMatch" method="put">
   <f:form.hidden name="__method" value="PUT" />
	<div class="control-group">
		<label class="control-label" for="name">name</label>
		<div class="control-group">
			<f:form.textfield property="name" id="name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="startDate">startDate (Y-m-d\TH:i:sP, 2005-08-15T15:52:01+00:00)</label>
		<div class="control-group">
         <f:form.textfield property="startDate" id="startDate" value="{match.startDate -> f:format.date(format:'Y-m-d\TH:i:sP')}"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="hostGroupRound">hostGroupRound</label>
		<div class="controlls">
			<f:form.select  options="{allGroupRounds}" property="hostGroupRound" id="hostGroupRound" optionLabelField="name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="hostGroupRank">hostGroupRank</label>
		<div class="controlls">
			<f:form.textfield property="hostGroupRank" id="hostGroupRank"  />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="guestGroupRound">guestGroupRound</label>
		<div class="controlls">
			<f:form.select  options="{allGroupRounds}" property="guestGroupRound" id="guestGroupRound" optionLabelField="name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="guestGroupRank">guestGroupRank</label>
		<div class="controlls">
			<f:form.textfield property="guestGroupRank" id="guestGroupRound" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<f:form.submit value="Update" class="btn"/>
		</div>
	</div>
</f:form>

