<f:layout name="Default" />

<f:section name="Content">
	<h1><f:translate id="match.group" /> {round.name}</h1>

	<f:render partial="Round/List" arguments="{rounds: allGroupRounds, activeRound: round}" />

		<div class="row tab-pane active" id="show">
			<f:render partial="Round/Show" arguments="{round: round}" />
			<f:render partial="Round/GroupTable" arguments="{round: round}" />
		</div>

		<div class="row">
			<f:render partial="Actions/Delete" arguments="{object: round}" />
		</div>
				<div class="row">
					<f:render partial="Round/GroupRound/New" arguments="{recentCup: recentCup}" />
				</div>
				<div class="row">
					<f:render partial="Round/GroupRound/Edit" arguments="{round: round}" />
				</div>
				<div class="row">
					<h6>auto create matches</h6>
					<f:form action="index" method="update" controller="GroupMatchCreator" arguments="{groupRound: round}">
						<f:form.hidden name="__method" value="PUT" />
						<f:form.submit name="submit" value="update" class="btn" />
					</f:form>
				</div>
				<div class="row">
					<f:render partial="Match/GroupMatch/New" arguments="{recentCup: recentCup, round: round}" />
				</div>
</f:section>
