
	<f:form class="form-horizontal" action="index" controller="ContactRequest" subpackage="User" name="contactRequest" method="post">
		<div id="agb"><f:form.checkbox property="agb"  value="1"/></div>
		<div class="row">
			<div class="col-sm-4 col-xs-8">
				<input type="hidden" name="__method" value="POST" />
				<div class="form-group">
					<f:form.textfield property="email" id="email" class="form-control" placeholder="E-Mail"/>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 col-xs-8">
				<div class="form-group">
					<f:form.textfield property="subject" id="subject" class="form-control" placeholder="{f:translate(id: 'contactRequest.subject')}"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-9 col-xs-8">
				<div class="form-group">
					<f:form.textarea property="message" id="message" class="form-control" placeholder="{f:translate(id: 'contactRequest.message')}"/>
				</div>
				<div class="form-group">
					<f:form.submit value="{f:translate(id: 'submit')}" class="btn btn-success"/>
				</div>
			</div>
		</div>
	</f:form>
	<script>document.getElementById("agb").style.visibility="hidden";</script>
