{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />



<f:section name="Content">
	<f:if condition="{cups}">
		<f:then>
			<ul>
				<f:for each="{cups}" as="cup">
					<li>
						{cup.name}
						<f:link.action action="show" arguments="{cup: cup}">Show</f:link.action>
						<cs:ifIsAdmin>
							<f:link.action action="edit" arguments="{cup: cup}">Edit</f:link.action>
							<f:link.action action="delete" arguments="{cup: cup}">Delete</f:link.action>
						</cs:ifIsAdmin>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No cups created yet.</p>
		</f:else>
	</f:if>
	<cs:ifIsAdmin>
		<ul>
			<li><f:link.action action="new">Create a new cup</f:link.action></li>
		</ul>
	</cs:ifIsAdmin>
</f:section>