<f:layout name="Default" />

<f:section name="Content">
	<f:if condition="{cups}">
		<f:then>
			<h3>Cups</h3>
			<f:render partial="Cup/List" arguments="{cups: cups}" />
		</f:then>
		<f:else>
			<p>No Cups</p>
		</f:else>
	</f:if>
	
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<h3>new Cup</h3>

		<f:form action="index" name="cup" method="post">
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controlls"><f:form.textfield property="name" id="name" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="startDate">startDate (Y-m-d\TH:i:sP, 2005-08-15T15:52:01+00:00)</label>
				<div class="control-group">
					<f:form.textfield property="startDate" id="startDate" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="teams">Teams</label>
					<div class="controlls">
						<f:form.select multiple="1" options="{allTeams}" property="teams" id="teams" optionLabelField="name" />
					</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:form.submit value="Create" class="btn"/>
				</div>
			</div>
		</f:form>
	</f:security.ifHasRole>
</f:section>
