<f:layout name="Default" />


<f:section name="Content">
	<f:render partial="Cup/Show" arguments="{cup: cup, groupRounds: groupRounds, koRounds: koRounds}" />
	<f:render partial="Cup/Edit" arguments="{cup: cup, allTeams: allTeams}" />

	<f:if condition="{cup.teams}">
		<f:then>
			<h3>Teams</h3>
			<f:render partial="Team/List" arguments="{teams: cup.teams}" />
		</f:then>
		<f:else>
			<p>no Teams</p>
		</f:else>
	</f:if>
	
	<f:if condition="{groupRounds}">
		<f:then>
			<h3>GroupRounds</h3>
			<f:render partial="Round/List" arguments="{rounds: groupRounds}" />
		</f:then>
		<f:else>
			<p>no GroupRounds</p>
		</f:else>
	</f:if>
	
	<f:if condition="{koRounds}">
		<f:then>
			<h3>KoRounds</h3>
			<f:render partial="Round/List" arguments="{rounds: koRounds}" />
		</f:then>
		<f:else>
			<p>no KoRounds</p>
		</f:else>
	</f:if>


</f:section>
