	<f:if condition="{round.groupTableRows}">
		<f:then>
			<table class="table hidden-xs">
				<thead>
					<tr>
						<th><f:translate id="groupTable.rank" /></th>
						<th><f:translate id="groupTable.team" /></th>
						<th><f:translate id="groupTable.countOfMatchesPlayed" /></th>
						<th>+</th>
						<th>0</th>
						<th>-</th>
						<th><f:translate id="groupTable.goals" /></th>
						<th><f:translate id="groupTable.points" /></th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{round.groupTableRows}" as="row" iteration="it">
						<tr>
							<td>{row.rank}</td>
							<td>
								<f:render partial="Competition/Team/Name" arguments="{team: row.team}" />
							</td>
							<td>{row.countOfMatchesPlayed}</td>
							<td>{row.countOfMatchesWon}</td>
							<td>{row.countOfMatchesRemis}</td>
							<td>{row.countOfMatchesLoosed}</td>
							<td>{row.goalsPlus}:{row.goalsMinus}</td>
							<td>{row.points}</td>
						</tr>
					</f:for>
				</tbody>
			</table>
			<table class="table visible-xs small">
				<thead>
				<tr>
					<th>&nbsp</th>
					<th>&nbsp</th>
					<th><f:translate id="groupTable.countOfMatchesPlayed" /></th>
					<th>+0-</th>
					<th><f:translate id="groupTable.goals" /></th>
					<th><f:translate id="groupTable.points" /></th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{round.groupTableRows}" as="row" iteration="it">
					<tr>
						<td>{row.rank}</td>
						<td>
							<f:render partial="Competition/Team/Name" arguments="{team: row.team}" />
						</td>
						<td>{row.countOfMatchesPlayed}</td>
						<td>{row.countOfMatchesWon}-{row.countOfMatchesRemis}-{row.countOfMatchesLoosed}</td>
						<td>{row.goalsPlus}:{row.goalsMinus}</td>
						<td>{row.points}</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<p>no groupTableRows</p>
		</f:else>
	</f:if>
