<f:layout name="Default" />

<f:section name="Content">
	<h4><f:translate id="tipGroupGroupRoundResults" /></h4>
	<p><f:translate id="tipGroupResults.info" /></p>


	<table class="table hidden-xs">
		<tr>
			<f:render partial="Competition/Match/Show" arguments="{match: match, hideActions: 1}" />
		</tr>
	</table>
	<table class="table visible-xs">
		<tr>
			<f:render partial="Competition/Match/ShowXs" arguments="{match: match, hideActions: 1}" />
		</tr>
	</table>
	<p>
		<f:link.action action="index" class="btn btn-default" arguments="{cup: match.cup}">
			<f:translate id="back" />
		</f:link.action>
	</p>
	<table class="table">
		<f:for each="{tips}" as="tip">
			<tr>
				<td>{tip.user.displayName}</td>
				<td>
					<f:render partial="Tip/Show" arguments="{tip: tip}" />
				</td>
			</tr>
		</f:for>

	</table>

</f:section>