<f:layout name="Default" />

<f:section name="Content">
	<table class="table">
		<tr>
			<f:render partial="Match/Show" arguments="{match: match, hideActions: 1}" />
		</tr>
	</table>
	<div class="row">
		<ul class="nav nav-pills">
			<li>
				<f:link.action action="index" arguments="{cup: match.cup}">to list</f:link.action>
			</li>
		</ul>
	</div>
	<table class="table">
		<f:for each="{tips}" as="tip">
			<tr>
				<td>{tip.user.displayName}</td>
				<td>
					<f:render partial="Tip/Show" arguments="{tip: tip}" />
				</td>
			</tr>
		</f:for>

	</table>

</f:section>