body {
	padding-top: 70px;
}

html,body {
	height: 100%;
}

.tab-content {
	padding-top: 10px;
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}
.tab-content .row {
	padding-left: 15px;
}

.loading {
	opacity: 0.2;
}

span.alert-inline {
	padding: 4px;
}