
@brand-light: #ABE039;
@brand-dark: #84B222;
@body-bg: #F0F5E4;
@brand-xlight: #E6F8BF;

@brand-primary: @brand-light;
@navbar-default-link-color: #fff;
@brand-success: @brand-light;
@btn-success-color: #333;
@brand-info: @brand-xlight;
@state-info-text: @brand-dark;
@state-info-bg: @brand-xlight;
@state-success-text: @brand-dark;
@state-success-bg: @brand-xlight;

@navbar-default-bg: @brand-dark;


