{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
<h5>TipCup {tipCup.cup.name}</h5>

	<h5>edit</h5>
	<f:form class="form-horizontal" action="index" controller="TipCup" object="{tipCup}" name="tipCup" method="post">
		<f:form.hidden name="__method" value="PUT" />
		<div class="control-group">
			<label class="control-label" for="tipPointsPolicy">tipPointsPolicy</label>
			<div class="controls">
				<f:form.select options="{cs:tipCupPolicyOptions(prefix: 'TIP_POINTS')}" property="tipPointsPolicy" id="tipPointsPolicy" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<f:form.submit value="Update" class="btn"/>
			</div>
		</div>

	</f:form>
</f:section>
