{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:if condition="{matches}">
	<f:then>
		<table class="table hidden-xs table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><f:translate id="match.date" /></th>
					<th><f:translate id="match.group" /></th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{matches}" as="match" iteration="it">
				<tr>
					<f:render partial="Match/Show" arguments="{match: match}" />
				</tr>
			</f:for>
			</tbody>
		</table>
		<div class="visible-xs small">
			<table class="table table-striped">
				<tbody>
				<f:for each="{matches}" as="match" iteration="it">
					<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
						<f:then>
							<tr class="clickable-row" data-href="{cs:restUri(object: match, subpackage: 'Competition')}">
								<f:render partial="Match/ShowXs" arguments="{match: match}" />
							</tr>
						</f:then>
						<f:else>
							<tr>
								<f:render partial="Match/ShowXs" arguments="{match: match}" />
							</tr>
						</f:else>
					</f:security.ifHasRole>
				</f:for>
				</tbody>
			</table>
		</div>
	</f:then>
	<f:else>
		<p>No matches created yet.</p>
	</f:else>
</f:if>
