<f:layout name="Default" />

<f:section name="Content">
	<h2>new user</h2>
	<f:form action="create" name="newUser">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controlls"><f:form.textfield property="name" id="name" /></div>
		</div>
		
		<div class="control-group">
			<div class="controls">
			<f:form.submit value="Create" class="btn"/>
			</div>
		</div>
	</f:form>
	
	<ul>
		<li><f:link.action action="index">list</f:link.action></li>
	</ul>
</f:section>