<f:layout name="Default" />

<f:section name="Content">
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<div class="row">
		<ul class="nav nav-pills">
			<li>
			<f:link.action action="index" arguments="{cup: recentCup}">to list</f:link.action>
			</li>
		</ul>
		</div>
		<div class="row">
			<ul class="nav nav-pills">
				<li class="active"><a href="#show" data-toggle="tab">show</a></li>
				<li><a href="#edit" data-toggle="tab">edit</a></li>
				<li><a href="#new" data-toggle="tab">new</a></li>
			</ul>
		</div>
	</f:security.ifHasRole>
	<div class="tab-content">
		<div class="row tab-pane active" id="show">
			<f:render partial="User/Show" arguments="{user: user, countOfTips: countOfTips, recentCup: recentCup}" />
			<h4>tipgroups</h4>
			<f:render partial="TipGroup/List" arguments="{tipGroups: tipGroups, recentCup: recentCup}" />
		</div>
		<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
			<div class="row tab-pane" id="edit">
				<f:render partial="User/Edit" arguments="{user: user}" />
			</div>
			<div class="row tab-pane" id="new">
				<f:render partial="User/New" />
			</div>
		</f:security.ifHasRole>
	</div>
</f:section>
