<f:flashMessages severity="OK" as="flashMessages">
	<f:render partial="FlashMessages/Success" arguments="{flashMessages: flashMessages}" />
</f:flashMessages>
<f:flashMessages severity="Notice" as="flashMessages">
	<f:render partial="FlashMessages/Success" arguments="{flashMessages: flashMessages}" />
</f:flashMessages>
<f:flashMessages severity="Warning" as="flashMessages">
	<f:render partial="FlashMessages/Error" arguments="{flashMessages: flashMessages}" />
</f:flashMessages>
<f:flashMessages severity="Error" as="flashMessages">
	<f:render partial="FlashMessages/Error" arguments="{flashMessages: flashMessages}" />
</f:flashMessages>
