<h4>edit tip result</h4>
<f:form class="form-horizontal" method="post" object="{tip}" controller="Tip" action="index" name="tip" > 
   <f:form.hidden name="__method" value="PUT" />
   <div class="control-group">
      <label class="control-label" for="hostTeamGoals">hostTeam Goals</label>
      <div class="control-group">
         <f:form.textfield property="result.hostTeamGoals" id="hostTeamGoals" />
      </div>
   </div>

   <div class="control-group">
      <label class="control-label" for="guestTeamGoals">guestTeam Goals</label>
      <div class="control-group">
         <f:form.textfield property="result.guestTeamGoals" id="guestTeamGoals" />
      </div>
   </div>

   <div class="control-group">
         <div class="controls">
            <f:form.submit value="Update" class="btn"/>
         </div>
      </div>
</f:form>
