{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
		<table class="table">
            <f:for each="{tips}" as="tip">
               <tr>
                  <td>
                     {tip.user.name}
                  </td>
                  <td>
                     <f:render partial="Tip/Show" arguments="{tip: tip}" />
                  </td>
                  <td>
                     <f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
								<f:render partial="RestAction" arguments="{object: tip}" />
                     </f:security.ifHasRole>
                     <cs:ifIsOwnTip tip="{tip}">
                           <f:link.action action="index" controller="Tip" arguments="{tip: tip}" class="btn">show</f:link.action>
                     </cs:ifIsOwnTip>
                  </td>
               </tr>
            </f:for>
         </table>
