{namespace cs=AchimFritz\ChampionShip\ViewHelpers}			
			<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
				<f:then>
					{tip.result.hostTeamGoals}
					:
					{tip.result.guestTeamGoals}
					({tip.points})
				</f:then>
				<f:else>
					<cs:ifTipIsEditable tip="{tip}">
						<f:then>
							<span class="tip">
								<input class="hostTip" type="text" size="1" style="width: 17px;" value="{tip.result.hostTeamGoals}" />
								:
								<input class="guestTip" type="text" size="1" style="width: 17px;" value="{tip.result.guestTeamGoals}" />
								<input class="tipId" type="hidden" value="{f:format.identifier(value: tip)}" />
							</span>
						</f:then>
						<f:else>
							<span class="cs-tip-{tip.points}">
							{tip.result.hostTeamGoals}
							:
							{tip.result.guestTeamGoals}
							</span>
							<f:comment>
							<cs:tipPoints tip="{tip}" />
							</f:comment>
						</f:else>
					</cs:ifTipIsEditable>
				</f:else>
			</f:security.ifHasRole>
