{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:if condition="{tips}">
	<f:then>
		<table class="table hidden-xs table-striped">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>tip</th>
			</tr>
			</thead>
			<tbody>
			<f:for each="{tips}" as="tip" iteration="it">
				<tr>
					<f:render partial="Competition/Match/Show" arguments="{match: tip.match}"/>
					<td>
						<f:render partial="Tip/Show" arguments="{tip: tip}"/>
						<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
							<f:render partial="Actions/Show" arguments="{object: tip}"/>
						</f:security.ifHasRole>
					</td>
				</tr>
			</f:for>
			</tbody>
		</table>
		<div class="visible-xs small">
			<f:for each="{tips}" as="tip" iteration="it">
				<div class="row">
					<f:render partial="Tip/Tip/ShowXs" arguments="{tip: tip}"/>
				</div>
			</f:for>
		</div>
	</f:then>
	<f:else>
		<p>
			<f:translate id="noTips"/>
		</p>
	</f:else>
</f:if>

