<f:layout name="Default" />

<f:section name="Content">
		<div class="row">
		<ul class="nav nav-pills">
			<li>
			<f:link.action action="index" >to match tips</f:link.action>
			</li>
		</ul>
		</div>
		<f:render partial="Match/ShowOne" arguments="{match: tip.match}" />
		<f:render partial="Tip/Show" arguments="{tip: tip}" />
		<f:render partial="Tip/Edit" arguments="{tip: tip}" />
		<h6>Tips</h6>
		<f:if condition="{tips}">
			<f:then>
				<f:render partial="Tip/List" arguments="{tips: tips}" />
			</f:then>
			<f:else>
				no tips created
			</f:else>
		</f:if>
</f:section>
