<f:layout name="Default" />

<f:section name="Content">
<table>
<f:render partial="Match/Show" arguments="{match: match}" />
</table>

<h2>edit</h2>
<f:form action="update" object="{match}" name="match">
	<div class="control-group">
		<label class="control-label" for="name">name</label>
		<div class="control-group">
			<f:form.textfield property="name" id="name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="startDate">startDate (Y-m-d\TH:i:sP, 2005-08-15T15:52:01+00:00)</label>
		<div class="control-group">
			<f:form.textfield property="startDate" id="startDate" value="{match.startDate -> f:format.date(format:'Y-m-d\TH:i:sP')}" />
		</div>
	</div>
	<div class="control-group">
			<div class="controls">
				<f:form.submit value="Update" class="btn"/>
			</div>
		</div>
</f:form>
<f:render partial="Match/Continue" arguments="{match: match}" />

</f:section>