<f:layout name="Default" />

<f:section name="Content">

<f:render partial="Match/Show" arguments="{match: match}" />

<f:form action="update" controller="Match" object="{match}" name="match">
	<div class="control-group">
		<label class="control-label" for="hostTeamGoals">hostTeamGoals</label>
		<div class="controlls"><f:form.textfield property="result.hostTeamGoals" id="hostTeamGoals" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="guestTeamGoals">guestTeamGoals</label>
		<div class="controlls"><f:form.textfield property="result.guestTeamGoals" id="guestTeamGoals" /></div>
	</div>
	<div class="control-group">
		<div class="controls">
			<f:form.submit value="Update" class="btn"/>
		</div>
	</div>
</f:form>

<f:render partial="Match/Continue" arguments="{match: match}" />

</f:section>