{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<table>
		<tr>
			<f:render partial="Match/Show" arguments="{match: match}" />
		</tr>
	</table>

	<f:render partial="Match/Actions" arguments="{match: match}" />

	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
         <cs:ifIsCrossGroupMatch match="{match}">
            <f:render partial="Match/EditCurrentHostTeam" arguments="{match: match}" />
            <f:render partial="Match/EditCurrentGuestTeam" arguments="{match: match}" />
            <f:render partial="Match/CrossGroupMatch/Edit" arguments="{match: match, allGroupRounds: allGroupRounds}" />
         </cs:ifIsCrossGroupMatch>
         <cs:ifIsTeamsOfTwoMatchesMatch match="{match}">
            <f:render partial="Match/EditCurrentHostTeam" arguments="{match: match}" />
            <f:render partial="Match/EditCurrentGuestTeam" arguments="{match: match}" />
            <f:render partial="Match/TeamsOfTwoMatchesMatch/Edit" arguments="{match: match}" />
         </cs:ifIsTeamsOfTwoMatchesMatch>
         <cs:ifIsGroupMatch match="{match}">
            <f:render partial="Match/GroupMatch/Edit" arguments="{match: match}" />
         </cs:ifIsGroupMatch>
         <f:render partial="Match/Result" arguments="{match: match}" />
	</f:security.ifHasRole>

</f:section>
