<h4><f:translate id="password.edit" /></h4>

<f:form action="index" controller="Password" subpackage="User"  name="password" method="post">
	<f:form.hidden property="user" value="{user}" />
	<div class="control-group">
		<label class="control-label" for="newPassword"><f:translate id="password.newPassword" /></label>
		<div class="controls"><f:form.password property="newPassword" id="newPassword" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="newPasswordRepeat"><f:translate id="password.newPasswordRepeat" /></label>
		<div class="controls"><f:form.password property="newPasswordRepeat" id="newPasswordRepeat" /></div>
	</div>
	<div class="control-group">
		<div class="controls">
			<f:form.submit class="btn" value="Update" />
		</div>
	</div>
</f:form>
