{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<div class="cs-container">
	<h6>Home</h6>
	<ul>
		<li>
			<f:link.action controller="Standard" subpackage="Generic" action="index" arguments="{cup: recentCup}">Home</f:link.action>
		</li>
	</ul>
</div>

<f:render partial="Competition/CompetitionServiceDescription" arguments="{recentCup: recentCup, cups: cups}" />

<f:render partial="User/UserServiceDescription" arguments="{user: user}" />

<f:render partial="Tip/TipServiceDescription" arguments="{user: user, recentCup: recentCup, cups: cups}" />

