{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<table>
		<tr>
			<f:render partial="Match/Show" arguments="{match: match}" />
		</tr>
	</table>

	<f:if condition="{tips}">
		<f:then>
			</f:then>
			<f:render partial="Tip/List" arguments="{tips: tips}" />

			<f:else>
				no tips created
			</f:else>
	</f:if>

	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:render partial="Match/EditCurrentHostTeam" arguments="{match: match}" />
		<f:render partial="Match/EditCurrentGuestTeam" arguments="{match: match}" />
		<f:render partial="Match/CrossGroupMatch/Edit" arguments="{match: match, allGroupRounds: allGroupRounds}" />
		<f:render partial="Match/Result" arguments="{match: match}" />
	</f:security.ifHasRole>

</f:section>
