
<f:form class="form-horizontal" action="index" objectName="forgotPasswordRequest">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-8">
			<input type="hidden" name="__method" value="POST" />
			<div class="form-group">
				<f:form.textfield property="email" placeholder="{f:translate(id: 'forgotPasswordRequest.email')}"class="form-control" id="email" />
			</div>

			<div class="form-group">
				<f:form.submit value="{f:translate(id: 'forgotPasswordRequest.submit')}" class="btn btn-success"/>
			</div>
		</div>
	</div>
</f:form>

