{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<ul class="nav nav-pills">
		<li>
			<f:link.action action="index" arguments="{round: match.round}" controller="KoRound">to rounds</f:link.action>
		</li>
	</ul>
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<div class="row">
			<ul class="nav nav-pills">
				<li class="active"><a href="#show" data-toggle="tab">show</a></li>
				<li><a href="#edit" data-toggle="tab">edit</a></li>
				<li><a href="#result" data-toggle="tab">result</a></li>
				<li><a href="#teams" data-toggle="tab">set teams (TODO)</a></li>
			</ul>
		</div>
	</f:security.ifHasRole>
	<div class="tab-content">
		<div class="row tab-pane active" id="show">
			<f:render partial="Match/ShowOne" arguments="{match: match}" />
			<h6>Tips</h6>
			<f:if condition="{tips}">
				<f:then>
					<f:render partial="Tip/List" arguments="{tips: tips}" />
					</f:then>
					<f:else>
						no tips created
					</f:else>
			</f:if>
		</div>
		<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
			<div class="row tab-pane" id="edit">
				<f:render partial="Match/TeamsOfTwoMatchesMatch/Edit" arguments="{match: match}" />
			</div>
			<div class="row tab-pane" id="result">
				<f:render partial="Match/Result" arguments="{match: match}" />
			</div>
			<div class="row tab-pane" id="teams">
				<h6>TODO is this neccessary?</h6>
				<f:render partial="Match/EditCurrentHostTeam" arguments="{match: match}" />
				<f:render partial="Match/EditCurrentGuestTeam" arguments="{match: match}" />
			</div>
		</f:security.ifHasRole>
	</div>

</f:section>
