<f:layout name="Default" />

<f:section name="Content">
	<f:render partial="TipGroup/ChatNavi" arguments="{tipGroups: tipGroups, active: tipGroup, cup: recentCup}" />

	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:then>
			<h5>ChatEntries</h5>
			<div class="row">
				<ul class="nav nav-pills">
					<li class="active"><a href="#show" data-toggle="tab">show</a></li>
					<li><a href="#new" data-toggle="tab">new</a></li>
				</ul>
			</div>
		<div class="tab-content">
			<div class="row tab-pane active" id="show">
				<f:render partial="ChatEntry/AdminList" arguments="{chatEntries: chatEntries}" />
			</div>
			<div class="row tab-pane" id="new">
				<f:render partial="TipGroupChatEntry/New" arguments="{user: user, users: users, tipGroup: tipGroup}"/>
			</div>
		</div>
	</f:then>
	<f:else>
			<f:render partial="TipGroupChatEntry/New" arguments="{user: user, users: users, tipGroup: tipGroup}"/>
			<f:render partial="ChatEntry/List" arguments="{chatEntries: chatEntries}" />
	</f:else>
	</f:security.ifHasRole>

</f:section>
