{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<f:security.ifAuthenticated>
		<f:then>
			<p>
				<f:security.ifHasRole role="AchimFritz.ChampionShip:User">
					<f:then>
						{user.displayName}
					</f:then>
					<f:else>
						ADMIN
					</f:else>
				</f:security.ifHasRole>
			</p>
			<f:link.action class="btn" action="logout" subpackage="User" controller="Login"><f:translate id="logout" /></f:link.action>
		</f:then>
		<f:else>
			<f:form action="authenticate" controller="Login" subpackage="User">
				<div class="control-group">
					<label class="control-label" for="username"><f:translate id="username" /></label>
					<div class="controls">
						<f:form.textfield class="input-small" id="username" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password"><f:translate id="password" /></label>
					<div class="controls">
						<f:form.password class="input-small" id="password" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<f:form.submit value="{f:translate(id: 'login')}" class="btn"/>
					</div>
				</div>
			</f:form>
		</f:else>
	</f:security.ifAuthenticated>
</f:section>