{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

	<div class="row">
		<ul class="nav nav-pills">
			<li>
				<f:link.action action="index" controller="UserTip" arguments="{cup: recentCup, user: tip.user}">to user {tip.user.displayName}</f:link.action>
			</li>
			<li>
				<f:link.action action="index" controller="MatchTip" arguments="{cup: recentCup, match: tip.match}">to match</f:link.action>
			</li>
		</ul>
	</div>
	<f:render partial="Match/ShowOne" arguments="{match: tip.match}" />
	<f:render partial="Tip/Edit" arguments="{tip: tip}" />
</f:section>
