{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<ul class="nav nav-pills">
		<li>
			<f:link.action action="index" arguments="{round: match.round}" controller="KoRound">to rounds</f:link.action>
		</li>
	</ul>
		<div class="row tab-pane active" id="show">
			<f:render partial="Match/ShowOne" arguments="{match: match}" />
		</div>
			<div class="row">
				<f:render partial="Match/TeamsOfTwoMatchesMatch/Edit" arguments="{match: match}" />
			</div>
			<div class="row">
				<f:render partial="Match/Result" arguments="{match: match}" />
			</div>
			<div class="row">
				<f:render partial="Match/ChangeMembers" arguments="{match: match}" />
			</div>


</f:section>
