	<h5><f:translate id="chatEntry" /></h5>
	<f:form class="form-horizontal" action="index" name="chatEntry" method="post">
		<div class="control-group">
			<label class="control-label" for="message">Message</label>
			<div class="controls">
				<f:form.textarea property="message" id="message" />
			</div>
		</div>
		<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
			<f:then>
				<div class="control-group">
					<label class="control-label" for="user">User</label>
					<div class="controls">
						<f:form.select options="{users}" id="user" optionLabelField="displayName" property="user"/>
					</div>
				</div>
			</f:then>
			<f:else>
				<f:form.hidden property="user" value="{user}" />
			</f:else>
		</f:security.ifHasRole>
		<div class="control-group">
			<div class="controls">
				<f:form.submit class="btn" value="Create" />
			</div>
		</div>
	</f:form>
