<f:layout name="Default" />

<f:section name="Content">
	<h5>TipGroups</h5>
		<div class="row">
			<ul class="nav nav-pills">
				<li class="active"><a href="#show" data-toggle="tab">show</a></li>
				<li><a href="#new" data-toggle="tab">new</a></li>
			</ul>
		</div>
	<div class="tab-content">
		<div class="row tab-pane active" id="show">
			<f:render partial="TipGroup/List" arguments="{tipGroups: tipGroups, cup: recentCup}" />
		</div>
		<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
			<div class="row tab-pane" id="new">
			<f:render partial="TipGroup/New" arguments="{cup: recentCup}" />
			</div>
		</f:security.ifHasRole>
	</div>

</f:section>
