<f:layout name="Default" />

<f:section name="Content">
	<h5>{tipGroup.name}</h5>
	<div class="row">
		<ul class="nav nav-pills">
			<li><f:link.action action="index" arguments="{cup: recentCup}">to list</f:link.action></li>
			<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
				<li class="active"><a href="#show" data-toggle="tab">show</a></li>
				<li><a href="#edit" data-toggle="tab">edit</a></li>
				<li><a href="#new" data-toggle="tab">new</a></li>
				<li><f:render partial="Actions/Delete" arguments="{object: tipGroup}" /></li>
			</f:security.ifHasRole>
		</ul>
	</div>
	<div class="tab-content">
		<div class="row tab-pane active" id="show">
			<f:render partial="User/List" arguments="{users: users}" />
			<f:if condition="{users}">
				<f:else>
					<f:render partial="User/New" arguments="{allTipGroups: tipGroups}" />
				</f:else>
			</f:if>
		</div>
		<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
			<div class="row tab-pane" id="edit">
				<f:render partial="TipGroup/Edit" arguments="{tipGroup: tipGroup}" />
			</div>
			<div class="row tab-pane" id="new">
				<f:render partial="TipGroup/New" />
			</div>
		</f:security.ifHasRole>
	</div>

</f:section>
