<h4>Login</h4>
<f:security.ifAuthenticated>
	<f:then>
	   <p>TODO logged in AS?, admin?, restful links?, redirect?</p>
		<f:link.action class="btn" action="logout" controller="Login">logout</f:link.action>
	</f:then>
	<f:else>
		<f:form action="authenticate" controller="Login">
			<div class="control-group">
				<label class="control-label" for="name">Username</label>
				<div class="controlls">
					<f:form.textfield name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="name">Password</label>
				<div class="controlls">
					<f:form.password name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:form.submit value="Login" class="btn"/>
				</div>
			</div>
		</f:form>
	</f:else>
</f:security.ifAuthenticated>
