{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<div class="cs-container">
	<h6>Home</h6>
	<ul>
		<li><f:link.action controller="Registration" action="index" arguments="{cup: recentCup}">Registration</f:link.action></li>
		<li><f:link.action controller="PasswordRequest" action="index" arguments="{cup: recentCup}">PasswordRequest</f:link.action></li>
	</ul>
</div>

<div class="cs-container">
	<h6><f:translate id="cups" /></h6>
	<f:if condition="{cups}">
		<ul>
			<f:for each="{cups}" as="cup">
				<li>
					<f:link.action controller="Cup" action="index" arguments="{cup: cup}" >{cup.name}</f:link.action>
				</li>
			</f:for>
		</ul>
	</f:if>
</div>
<div class="cs-container">
	<h6><f:translate id="matches" /></h6>
	<ul>
		<li {cs:ifIsCurrentController(controllerName:'GroupMatch', then: 'class= "cs-active"')}>
			<f:link.action action="index" controller="GroupMatch" arguments="{cup: recentCup}"><f:translate id="groupMatch" /></f:link.action>
		</li>
		<li {cs:ifIsCurrentController(controllerName:'GroupRound', then: 'class= "cs-active"')}>
			<f:link.action action="index" controller="GroupRound" arguments="{cup: recentCup}"><f:translate id="groupRound" /></f:link.action>
		</li>
		<li {cs:ifIsCurrentController(controllerName:'KoRound', then: 'class= "cs-active"')}>
		<f:link.action action="index" controller="KoRound" arguments="{cup: recentCup}"><f:translate id="koRound" /></f:link.action>
		</li>
	</ul>
</div>

<f:security.ifHasRole role="AchimFritz.ChampionShip:User">
<div class="cs-container">
	<h6><f:translate id="tip" /></h6>
	<ul>
		<li {cs:ifIsCurrentController(controllerName:'GroupMatchTip', then: 'class= "cs-active"')}>
			<f:link.action action="index" controller="GroupMatchTip" arguments="{cup: recentCup}"><f:translate id="groupMatch" /></f:link.action>
		</li>
		<li {cs:ifIsCurrentController(controllerName:'GroupRoundTip', then: 'class= "cs-active"')}>
			<f:link.action action="index" controller="GroupRoundTip" arguments="{cup: recentCup}"><f:translate id="groupRound" /></f:link.action>
		</li>
		<li {cs:ifIsCurrentController(controllerName:'KoRoundTip', then: 'class= "cs-active"')}>
		<f:link.action action="index" controller="KoRoundTip" arguments="{cup: recentCup}"><f:translate id="koRound" /></f:link.action>
		</li>
	</ul>
</div>
</f:security.ifHasRole>

<f:security.ifAuthenticated>
<div class="cs-container">
	<h6><f:translate id="ranking" /></h6>
	<ul>
		<li {cs:ifIsCurrentController(controllerName:'Ranking', then: 'class= "cs-active"')}>
			<f:link.action action="index" controller="Ranking" arguments="{cup: recentCup}">{recentCup.name}</f:link.action>
		</li>
		<li {cs:ifIsCurrentController(controllerName:'GlobalRanking', then: 'class= "cs-active"')}>
			<f:link.action action="index" controller="GlobalRanking" arguments="{cup: recentCup}"><f:translate id="globalRanking" /></f:link.action>
		</li>
	</ul>
</div>
</f:security.ifAuthenticated>



<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
<div class="cs-container">
   <h6>admin</h6>
   <ul>
      <li>
         <f:link.action controller="Cup" action="index">Cups</f:link.action>
      </li>
      <li>
         <f:link.action controller="Team" action="index" arguments="{cup: recentCup}">Teams</f:link.action>
      </li>
      <li>
         <f:link.action controller="User" action="index" arguments="{cup: recentCup}">Users</f:link.action>
      </li>
      <li>
         <f:link.action controller="TipGroup" action="index" arguments="{cup: recentCup}">TipGroup</f:link.action>
      </li>
      <li>
         <f:link.action controller="Account" action="index" package="TYPO3.AccountManagement">(Account)</f:link.action>
      </li>
   </ul>
</div>
</f:security.ifHasRole>
