<h4><f:translate id="user.edit" /></h4>
<f:form action="index" object="{user}" name="user" subpackage="User" controller="User">
	<f:form.hidden name="__method" value="PUT" />
	<div class="control-group">
		<label class="control-label" for="accountIdentifier"><f:translate id="user.accountIdentifier" /></label>
		<div class="controls"><f:form.textfield property="account.accountIdentifier" id="accountIdentifier" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="email"><f:translate id="user.email" /></label>
		<div class="controls"><f:form.textfield property="email" id="email" /></div>
	</div>
<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">	
	<div class="control-group">
		<label class="control-label" for="tipGroup"><f:translate id="user.tipGroup" /></label>
		<div class="controls"><f:form.select options="{allTipGroups}" optionLabelField="name" property="tipGroup" id="tipGroup" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="tipGroups"><f:translate id="user.tipGroups" /></label>
		<div class="controls"><f:form.select options="{allTipGroups}" multiple="1" optionLabelField="name" property="tipGroups" id="tipGroups" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="disabled">disabled</label>
		<div class="controls"><f:form.checkbox property="disabled" id="disabled" value="1" /></div>
	</div>
</f:security.ifHasRole>
	
	
	<div class="control-group">
		<div class="controls">
			<f:form.submit value="Update" class="btn"/>
		</div>
	</div>
</f:form>
