<h2>Matches</h2>
<ul>
   <li>
      <f:link.action action="index" controller="Match" arguments="{cup: cup}">Match</f:link.action>
   </li>
   <li>
      <f:link.action action="index" controller="GroupMatch" arguments="{cup: cup}">GroupMatch</f:link.action>
   </li>
   <li>
      <f:link.action action="index" controller="KoMatch" arguments="{cup: cup}">KoMatch</f:link.action>
   </li>
</ul>
<h2>Rounds</h2>
<ul>
   <li>
      <f:link.action action="index" controller="GroupRound" arguments="{cup: cup}">GroupRound</f:link.action>
   </li>
   <li>
      <f:link.action action="index" controller="KoRound" arguments="{cup: cup}">KoRound</f:link.action>
   </li>
</ul>
