<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ChampionShip</title>
		<f:base />
		
		<!-- twitter bootstrap TODO move me to vendor  -->
	<script src="{f:uri.resource(path: 'Libraries/jQuery/jquery-1.8.2.js', package: 'TYPO3.Twitter.Bootstrap')}" type="text/javascript" ></script>
    <script src="{f:uri.resource(path: '2/js/bootstrap.js', package: 'TYPO3.Twitter.Bootstrap')}" type="text/javascript" ></script>
    <link rel="stylesheet" href="{f:uri.resource(path: '2/css/bootstrap.css', package: 'TYPO3.Twitter.Bootstrap')}" type="text/css" media="all" />
   <link rel="stylesheet" href="{f:uri.resource(path: '2/css/bootstrap-responsive.css', package: 'TYPO3.Twitter.Bootstrap')}" type="text/css" media="all" />

	<!-- jquery ui -->
	   <script src="{f:uri.resource(path: 'jquery-ui/CNSEE/JQueryUiBundle/ui/jquery.ui.core.js', package: 'comensee.jqueryui')}" type="text/javascript" ></script>

   
   </head>
   <body>
	   <div class="container">
	   	<f:if condition="{recentCup}">
			   <f:then>
               <div class="row">
                  <div class="span3">
                     <h4><f:link.action controller="Standard" action="index">Home</f:link.action></h4>
                     <f:render partial="LoginForm" />
                     <f:render partial="ServiceDescription" arguments="{recentCup: recentCup, cups: cups}" />
                  </div>
                  <div class="span9">
                     <h1>{recentCup.name}</h1>
                     <h2>{title}</h2>
                     <f:render partial="ValidationErrors" />
                     <f:render partial="FlashMessages" />
                     <f:render section="Content" />
                  </div>
               </div>
            </f:then>
            <f:else>
               <h1>oops no recentCup</h1>
                     <f:render partial="ValidationErrors" />
                     <f:render partial="FlashMessages" />
                     <f:render partial="LoginForm" />
                     <f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
                        <f:render partial="Cup/New" />
                     </f:security.ifHasRole>
            </f:else>
         </f:if>
      </div>

   </body>
</html>
