{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ChampionShip</title>

		<link rel="stylesheet" href="{f:uri.resource(path: 'Build/Libs.css')}" type="text/css" media="all" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Build/Main.css')}" type="text/css" media="all" />

	</head>
	<body>
		<cs:environment>
			<f:render partial="Nav" arguments="{cup: cup, cups: cups, user: user}" />

			<div class="container">
				<div class="row">
					<div class="col-md-12" id="flashMessageContainer">
						<f:render partial="ValidationErrors"/>
						<f:render partial="FlashMessages"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<f:render section="Content" />
					</div>
				</div>
			</div>
		</cs:environment>
		<script src="{f:uri.resource(path: 'Build/Libs.js')}" type="text/javascript" ></script>
		<script src="{f:uri.resource(path: 'Build/App.js')}" type="text/javascript" ></script>
	</body>
</html>
