<f:layout name="Default" />

<f:section name="Content">

	<div class="row">
		<f:if condition="{users}">
			<f:then>
				<table class="table">
					<thead>
					<tr>
						<th>accountIdentifier</th>
						<th>email</th>
						<th>tipGroup</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{users}" as="currentUser" iteration="it">
						<tr class="clickable-row" data-href="{f:uri.action(action: 'index', arguments: {cup: cup, user: currentUser})}">
							<td>
								{currentUser.account.accountIdentifier}
							</td>
							<td>
								{currentUser.email}
							</td>
							<td>
								{currentUser.tipGroup.name}
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</f:then>
			<f:else>
				<p>No users created yet.</p>
			</f:else>
		</f:if>
	</div>
</f:section>
