<f:if condition="{cups}">
	<f:then>
		<table class="table dataTable">
			<thead>
				<tr>
					<th>name</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{cups}" as="cup" iteration="it">
					<tr class="{f:if(condition: it.isOdd, then: ' cs-odd', else: ' cs-even')}">
						<td>
							{cup.name}
						</td>
						<td>
							<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
									<f:render partial="Actions/RestAction" arguments="{object: cup}" />
							</f:security.ifHasRole>
						</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<p>no cups created</p>
	</f:else>
</f:if>

