<f:layout name="Default" />

<f:section name="Content">
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<h5>{registrationRequest.email}</h5>
		<div class="row">
			<ul class="nav nav-pills">
				<li>
					<f:link.action action="index" arguments="{cup: recentCup}">to list</f:link.action>
				</li>
				<li class="active"><a href="#show" data-toggle="tab">show</a></li>
				<li><a href="#new" data-toggle="tab">new</a></li>
				<li><a href="#edit" data-toggle="tab">edit</a></li>
				<li><a href="#create" data-toggle="tab">create User</a></li>
				<li><f:render partial="Actions/Delete" arguments="{object: registrationRequest}" /></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="row tab-pane active" id="show">
				<f:render partial="RegistrationRequest/Show" arguments="{registrationRequest: registrationRequest, user: user, tipGroup: tipGroup, tipGroups: tipGroups}" />
			</div>
			<div class="row tab-pane" id="create">
				<f:render partial="RegistrationRequest/CreateUser" arguments="{registrationRequest: registrationRequest, user: user, tipGroup: tipGroup}" />
			</div>
			<div class="row tab-pane" id="edit">
				<f:render partial="RegistrationRequest/Edit" arguments="{registrationRequest: registrationRequest}" />
			</div>
			<div class="row tab-pane" id="new">
				<f:render partial="RegistrationRequest/New" />
			</div>
		</div>
	</f:security.ifHasRole>

</f:section>


