	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
	<h4>change host / guest</h4>
	<table class="table">
		<tr>
			<td>new hostTeam</td>
			<td>{match.guestTeam.name}</td>
			<f:if condition="{match.result}"><td>{match.result.guestTeamGoals}</td></f:if>
		</tr>
		<tr>
			<td>new guestTeam</td>
			<td>{match.hostTeam.name}</td>
			<f:if condition="{match.result}"><td>{match.result.hostTeamGoals}</td></f:if>
		</tr>
	</table>
	<f:form class="form-horizontal" method="put" object="{match}" controller="Match" action="index" name="match" > 
		<f:form.hidden name="__method" value="PUT" />
				<f:form.hidden property="hostTeam" value="{match.guestTeam}" />
				<f:form.hidden property="guestTeam" value="{match.hostTeam}" />
				<f:if condition="{match.result}">
					<f:form.hidden property="result.hostTeamGoals" value="{match.result.guestTeamGoals}" />
					<f:form.hidden property="result.guestTeamGoals" value="{match.result.hostTeamGoals}" />
				</f:if>
		<div class="control-group">
			<div class="controls">
				<f:form.submit value="Update" class="btn"/>
			</div>
		</div>
	</f:form>
	</f:security.ifHasRole>

