	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<h3>new match </h3>
		<f:form class="form-horizontal" action="index" name="match" controller="GroupMatch" method="post">
			<f:form.hidden property="cup" value="{recentCup}" />
			<f:form.hidden property="round" value="{round}" />
			<div class="control-group">
				<label class="control-label" for="name">name</label>
				<div class="control-group">
					<f:form.textfield property="name" id="name" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="startDate">startDate</label>
				<div class="control-group">
					<f:form.textfield property="startDate" id="startDate" class="datetimepicker" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="hostTeam">hostTeam</label>
					<div class="controlls">
						<f:form.select  options="{round.Teams}" property="hostTeam" id="hostTeam" optionLabelField="name" />
					</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="guestTeam">guestTeam</label>
					<div class="controlls">
						<f:form.select  options="{round.Teams}" property="guestTeam" id="guestTeam" optionLabelField="name" />
					</div>
			</div>

			<div class="control-group">
					<div class="controls">
						<f:form.submit value="Create" class="btn"/>
					</div>
				</div>
		</f:form>
	</f:security.ifHasRole>


