<f:layout name="Default" />

<f:section name="Content">
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:then>
			<h5>Cups</h5>
			<div class="row">
				<ul class="nav nav-pills">
					<li class="active"><a href="#show" data-toggle="tab">show</a></li>
					<li><a href="#new" data-toggle="tab">new</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="row tab-pane active" id="show">
					<f:render partial="Cup/List" arguments="{cups: cups}" />
				</div>
					<div class="row tab-pane" id="new">
						<f:render partial="Cup/New" arguments="{allTeams: allTeams}" />
				</div>
			</div>
		</f:then>
		<f:else>
			<f:if condition="{recentCup}">
				<h5>{recentCup.name}</h5>
			</f:if>
			<div class="row">
				<div class="span1"></div>
				<div class="span5">
					<img src="{f:uri.resource(path: 'Images/footballtip_start.jpg')}" alt="home" />
				</div>
			</div>
		</f:else>
	</f:security.ifHasRole>
</f:section>
