<f:layout name="Default" />

<f:section name="Content">
	<f:render partial="TipGroup/ChatNavi" arguments="{tipGroups: tipGroups, active: tipGroup, cup: recentCup}" />
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:then>
			<div class="row">
				<ul class="nav nav-pills">
					<li><f:link.action action="index" arguments="{cup: recentCup}">to list</f:link.action></li>
					<li class="active"><a href="#show" data-toggle="tab">show</a></li>
					<li><a href="#edit" data-toggle="tab">edit</a></li>
					<li><a href="#new" data-toggle="tab">new</a></li>
					<li><f:render partial="Actions/Delete" arguments="{object: chatEntry}" /></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="row tab-pane active" id="show">
					<f:render partial="TipGroupChatEntry/Show" arguments="{chatEntry: chatEntry}" />
				</div>
				<div class="row tab-pane" id="edit">
					<f:render partial="ChatEntry/Edit" arguments="{chatEntry: chatEntry, users:users}" />
				</div>
				<div class="row tab-pane" id="new">
					<f:render partial="TipGroupChatEntry/New" arguments="{users:users}"/>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:render partial="TipGroupChatEntry/Show" arguments="{chatEntry: chatEntry}" />
		</f:else>
	</f:security.ifHasRole>
</f:section>
