	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
               <h5>new teams of two matches match</h5>
               <f:form action="index" name="match" controller="TeamsOfTwoMatchesMatch" method="post" class="form-horizontal">
                  <f:form.hidden property="cup" value="{recentCup}" />
                  <f:form.hidden property="round" value="{round}" />
                  <div class="control-group">
                     <label class="control-label" for="name">name</label>
                     <div class="controls">
                        <f:form.textfield property="name" id="name" />
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="startDate">startDate</label>
                     <div class="controls">
                        <f:form.textfield property="startDate" id="startDate" class="datetimepicker" />
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="hostMatch">hostMatch</label>
                        <div class="controls">
                           <f:form.select  options="{round.parentRound.generalMatches}" property="hostMatch" id="hostMatch" optionLabelField="name" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="hostMatchIsWinner">hostMatchIsWinner</label>
                        <div class="controls">
                           <f:form.checkbox property="hostMatchIsWinner" id="hostMatchIsWinner" value="1" checked="checked" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="guestMatch">guestMatch</label>
                        <div class="controls">
                           <f:form.select  options="{round.parentRound.generalMatches}" property="guestMatch" id="guestMatch" optionLabelField="name" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="guestMatchIsWinner">guestMatchIsWinner</label>
                        <div class="controls">
                           <f:form.checkbox property="guestMatchIsWinner" id="guestMatchIsWinner" value="1" checked="checked" />
                        </div>
                  </div>

                  <div class="control-group">
                        <div class="controls">
                           <f:form.submit value="Create" class="btn"/>
                        </div>
                     </div>
               </f:form>
	</f:security.ifHasRole>

