	<f:if condition="{teams}">
		<f:then>
			<ul class="inline">
				<f:for each="{teams}" as="team">
					<li>
						<img src="{f:uri.resource(path: 'Images/clear.gif')}" class="flag flag-{team.iso2}" alt="{tam.name}" />{team.name}
						<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
								<f:render partial="Actions/RestAction" arguments="{object: team}" />
						</f:security.ifHasRole>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No teams created yet.</p>
		</f:else>
	</f:if>

