	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:form class="form-horizontal" action="index" name="team" method="post">
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controlls"><f:form.textfield property="name" id="name" /></div>
			</div>
			
			
			<div class="control-group">
				<label class="control-label" for="nameDe">nameDe</label>
					<div class="controlls"><f:form.textfield property="nameDe" id="nameDe" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="nameEn">nameEn</label>
					<div class="controlls"><f:form.textfield property="nameEn" id="nameEn" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="nameLocal">nameLocal</label>
					<div class="controlls"><f:form.textfield property="nameLocal" id="nameLocal" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="iso2">iso2</label>
					<div class="controlls"><f:form.textfield property="iso2" id="iso2" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="iso3">iso3</label>
					<div class="controlls"><f:form.textfield property="iso3" id="iso3" /></div>
			</div>
			
			<div class="control-group">
				<div class="controls">
				<f:form.submit value="Create" class="btn"/>
				</div>
			</div>
		</f:form>
	</f:security.ifHasRole>

