{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:if condition="{match.hostTeam}">
   <f:then>
		<img src="{f:uri.resource(path: 'Images/clear.gif')}" title="{match.hostTeam.name}" class="flag flag-{match.hostTeam.iso2}" alt="{match.hostTeam.name}" />
		<f:if condition="{short}">
			<f:then>
				<f:comment>
				<cs:strToUpper value="{match.hostTeam.iso2}" />
				</f:comment>
			</f:then>
			<f:else>
				{match.hostTeam.name}
			</f:else>
		</f:if>
   </f:then>
   <f:else>
      <cs:ifIsCrossGroupMatch match="{match}">
         <f:then>
            {match.hostGroupRank}. {match.hostGroupRound.name}
         </f:then>
         <f:else>
            <cs:ifIsTeamsOfTwoMatchesMatch match="{match}">
					<f:if condition="{match.hostMatchIsWinner}">
						<f:then>
							1.
						</f:then>
						<f:else>
							2.
						</f:else>
					</f:if>
               {match.hostMatch.name}
            </cs:ifIsTeamsOfTwoMatchesMatch>
         </f:else>
      </cs:ifIsCrossGroupMatch> 
   </f:else>
</f:if>
