<f:layout name="Default" />



<f:section name="Content">
	<f:form action="update" object="{koRound}" name="koRound">
		<div class="control-group">
			<label class="control-label"for="name">Name</label>
			<div class="controls"><f:form.textfield property="name" id="name" /></div>
		</div>
			
		<div class="control-group">
			<label class="control-label" for="countOfMatches">countOfMatches</label>
			<div class="control-group">
				<div class="control-group"><f:form.textfield property="countOfMatches" id="countOfMatches" /></div>
			</div>
		</div>
			
		<div class="control-group">
			<div class="controls">
				<f:form.submit value="Update" class="btn"/>
			</div>
		</div>
	</f:form>
	
	<ul>
		<li>
			<f:link.action action="show" controller="Cup" arguments="{cup: koRound.cup}">to Cup {koRound.cup.name}</f:link.action>
		</li>
	</ul>
</f:section>