{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

	<f:link.action class="btn" action="index" arguments="{cup: round.cup}">list</f:link.action>
	<f:render partial="Round/Show" arguments="{round: round}" />
	
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">

         <cs:ifIsChildKoRound round="{round}">
            <f:then>
               <h4>new teams of two matches match</h4>
               <f:form action="index" name="match" controller="TeamsOfTwoMatchesMatch" method="post">
                  <f:form.hidden property="cup" value="{recentCup}" />
                  <f:form.hidden property="round" value="{round}" />
                  <div class="control-group">
                     <label class="control-label" for="name">name</label>
                     <div class="control-group">
                        <f:form.textfield property="name" id="name" />
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="startDate">startDate (Y-m-d\TH:i:sP, 2005-08-15T15:52:01+00:00)</label>
                     <div class="control-group">
                        <f:form.textfield property="startDate" id="startDate" />
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="hostMatch">hostMatch</label>
                        <div class="controlls">
                           <f:form.select  options="{round.parentRound.generalMatches}" property="hostMatch" id="hostMatch" optionLabelField="name" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="hostMatchIsWinner">hostMatchIsWinner</label>
                        <div class="controlls">
                           <f:form.checkbox property="hostMatchIsWinner" id="hostMatchIsWinner" value="1" checked="checked" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="guestMatch">guestMatch</label>
                        <div class="controlls">
                           <f:form.select  options="{round.parentRound.generalMatches}" property="guestMatch" id="guestMatch" optionLabelField="name" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="guestMatchIsWinner">guestMatchIsWinner</label>
                        <div class="controlls">
                           <f:form.checkbox property="guestMatchIsWinner" id="guestMatchIsWinner" value="1" checked="checked" />
                        </div>
                  </div>

                  <div class="control-group">
                        <div class="controls">
                           <f:form.submit value="Create" class="btn"/>
                        </div>
                     </div>
               </f:form>
               <h4>edit round</h4>
               <f:form action="index" object="{round}" name="round" method="put">
                  <f:form.hidden name="__method" value="PUT" />
                  <div class="control-group">
                     <label class="control-label"for="name">Name</label>
                     <div class="controls"><f:form.textfield property="name" id="name" /></div>
                  </div>
                  
                     <div class="control-group">
                        <label class="control-label" for="parentRound">parentRound</label>
                           <div class="controlls">
                              <f:form.select  options="{allKoRounds}" property="parentRound" id="parentRound" optionLabelField="name" />
                           </div>
                     </div>
                  
                  <div class="control-group">
                     <div class="controls">
                        <f:form.submit value="Update" class="btn"/>
                     </div>
                  </div>
               </f:form>
            </f:then>
            <f:else>
               <h4>new cross group round match</h4>
               <f:form action="index" name="match" controller="CrossGroupMatch" method="post">
                  <f:form.hidden property="cup" value="{recentCup}" />
                  <f:form.hidden property="round" value="{round}" />
                  <div class="control-group">
                     <label class="control-label" for="name">name</label>
                     <div class="control-group">
                        <f:form.textfield property="name" id="name" />
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="startDate">startDate (Y-m-d\TH:i:sP, 2005-08-15T15:52:01+00:00)</label>
                     <div class="control-group">
                        <f:form.textfield property="startDate" id="startDate" />
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="hostGroupRound">hostGroupRound</label>
                        <div class="controlls">
                           <f:form.select  options="{allGroupRounds}" property="hostGroupRound" id="hostGroupRound" optionLabelField="name" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="hostGroupRank">hostGroupRank</label>
                        <div class="controlls">
                           <f:form.textfield property="hostGroupRank" id="hostGroupRank"  />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="guestGroupRound">guestGroupRound</label>
                        <div class="controlls">
                           <f:form.select  options="{allGroupRounds}" property="guestGroupRound" id="guestGroupRound" optionLabelField="name" />
                        </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="guestGroupRank">guestGroupRank</label>
                        <div class="controlls">
                           <f:form.textfield property="guestGroupRank" id="guestGroupRound" />
                        </div>
                  </div>

                  <div class="control-group">
                        <div class="controls">
                           <f:form.submit value="Create" class="btn"/>
                        </div>
                     </div>
               </f:form>

               <h4>edit round</h4>
               <f:form action="index" object="{round}" name="round" method="put">
                  <f:form.hidden name="__method" value="PUT" />
                  <div class="control-group">
                     <label class="control-label"for="name">Name</label>
                     <div class="controls"><f:form.textfield property="name" id="name" /></div>
                  </div>
                  
                  <div class="control-group">
                     <div class="controls">
                        <f:form.submit value="Update" class="btn"/>
                     </div>
                  </div>
               </f:form>
            </f:else>
      </cs:ifIsChildKoRound>
	</f:security.ifHasRole>
</f:section>
