{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">

	<f:link.action class="btn" action="index" arguments="{cup: round.cup}">list</f:link.action>
	<f:render partial="Round/Show" arguments="{round: round}" />



	
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">

         <cs:ifIsChildKoRound round="{round}">
				<f:then>
					<f:render partial="Match/TeamsOfTwoMatchesMatch/New" arguments="{recentCup: recentCup, round: round}" />
					<f:render partial="Round/ChildKoRound/Edit" arguments="{round: round, allKoRounds: allKoRounds}" />
				</f:then>
            <f:else>
					<f:render partial="Match/CrossGroupMatch/New" arguments="{recentCup: recentCup, round: round, allGroupRounds: allGroupRounds}" />
					<f:render partial="Round/KoRound/Edit" arguments="{round: round}" />
				</f:else>
			</cs:ifIsChildKoRound>
	</f:security.ifHasRole>
</f:section>
