{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:if condition="{rankings}">
	<f:then>
		<table class="table">
			<thead>
				<tr>
					<th><f:translate id="ranking.rank" /></th>
					<th><f:translate id="ranking.points" /></th>
					<th><f:translate id="ranking.user" /></th>
					<th><f:translate id="ranking.countOfTips" /></th>
				</tr>
			</thead>
			<tbody>
				<f:for each="{rankings}" as="ranking" iteration="cnt">
					<tr class="{f:if(condition: cnt.isOdd, then: ' cs-odd', else: ' cs-even')}">
						<td><cs:sum summandOne="{cnt.index}" summandTwo="1" /></td>
						<td>{ranking.points}</td>
						<td>{ranking.user.displayName}
						</td>
						<td>{ranking.countOfTips}</td>
					</tr>
				</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<p>no rankings</p>
	</f:else>
</f:if>
