<f:layout name="Default" />

<f:section name="Content">
	<h3>{user.displayName}</h3>
	<div class="row">
		<ul class="nav nav-pills">
			<li>
				<f:link.action action="index" arguments="{cup: recentCup}">to list</f:link.action>
			</li>
		</ul>
	</div>
	<table class="table">
		<f:for each="{tips}" as="tip">
			<tr>
				<f:render partial="Match/Show" arguments="{match: tip.match, hideActions: 1}" />
				<td>
					<f:render partial="Tip/Show" arguments="{tip: tip}" />
				</td>
			</tr>
		</f:for>

	</table>

</f:section>