{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:then>
			<h5>Cups</h5>
			<div class="row">
				<f:render partial="Cup/List" arguments="{cups: cups}" />
			</div>
			<div class="row">
				<f:render partial="Cup/New" arguments="{allTeams: allTeams}" />
			</div>
		</f:then>
		<f:else>
			<h1 class="text-center">{cup.name}</h1>
			<div class="row">
				<div class="col-md-6 text-center">
					<img src="{f:uri.resource(path: 'Images/footballtip_start.jpg')}" alt="home" />
				</div>
				<div class="col-md-6 text-center">
					<img src="{f:uri.resource(path: 'Images/footballtip_start.jpg')}" alt="home" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-center">
					last
					<cs:currentMatches cup="{cup}" limit="3" past="1">
						<f:render partial="Competition/Match/List" arguments="{matches: matches}" />
					</cs:currentMatches>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-center">
					next
					<cs:currentMatches cup="{cup}" limit="3" past="0">
						<f:render partial="Competition/Match/List" arguments="{matches: matches}" />
					</cs:currentMatches>
				</div>
			</div>
		</f:else>
	</f:security.ifHasRole>
</f:section>
