{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:layout name="Default" />

<f:section name="Content">
	<h1 class="text-center">{round.name}</h1>
	<f:render partial="Round/List" arguments="{rounds: allKoRounds, activeRound: round}" />
	<div class="row tab-pane active" id="show">
		<f:render partial="Round/Show" arguments="{round: round}" />
	</div>
	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:render partial="Actions/Delete" arguments="{object: round}" />

		<div class="row">
			<cs:ifIsChildKoRound round="{round}">
				<f:then>
					<f:render partial="Round/ChildKoRound/Edit" arguments="{round: round, allKoRounds: allKoRounds}" />
				</f:then>
				<f:else>
					<f:render partial="Round/KoRound/Edit" arguments="{round: round}" />
				</f:else>
			</cs:ifIsChildKoRound>
		</div>
		<div class="row">
			<f:render partial="Round/ChildKoRound/New" arguments="{recentCup: recentCup, allKoRounds: allKoRounds}" />
		</div>
		<div class="row">
			<cs:ifIsChildKoRound round="{round}">
				<f:then>
					<f:render partial="Match/TeamsOfTwoMatchesMatch/New" arguments="{recentCup: recentCup, round: round}" />
				</f:then>
				<f:else>
					<f:render partial="Match/CrossGroupMatch/New" arguments="{recentCup: recentCup, round: round, allGroupRounds: allGroupRounds}" />
					<f:render partial="Match/CrossGroupWithThirdsMatch/New" arguments="{recentCup: recentCup, round: round, allGroupRounds: allGroupRounds}" />
				</f:else>
			</cs:ifIsChildKoRound>
		</div>
	</f:security.ifHasRole>
</f:section>
