	<h2>{groupRound.name}</h2>
	
	<h3>Matches</h3>
	
	<f:render partial="Match/List" arguments="{matches: groupRound.generalMatches}" />
	
	
	<h3>Table</h3>
	<f:if condition="{groupRound.groupTableRows}">
		<f:then>
			<table>
				<f:for each="{groupRound.groupTableRows}" as="row">
					<tr>
						<td>{row.rank}</td>
						<td>{row.team.name}</td>
						<td>{row.goalsPlus}:{row.goalsMinus}</td>
						<td>{row.goalsDiff}</td>
						<td>{row.points}</td>
					</tr>
				</f:for>
			</table>				
		</f:then>
		<f:else>
			<p>no groupTableRows</p>
		</f:else>
	</f:if>
	
	<cs:ifIsAdmin>
		<ul>
			<li>
				<f:link.action action="createMatches" controller="GroupRound" arguments="{groupRound: groupRound}">create Matches</f:link.action>
			</li>
			<li>
				<f:link.action action="updateGroupTable" controller="GroupRound" arguments="{groupRound: groupRound}">update GroupTable</f:link.action>
			</li>
			<li>
				TODO if finished ... <f:link.action action="updateFromGroupRound" controller="KoMatch" arguments="{groupRound: groupRound}">update Matches with GroupRound</f:link.action>
			</li>
		</ul>
	</cs:ifIsAdmin>
