<f:layout name="Default" />

<f:section name="Content">
<ul>
	<f:for each="{groupRounds}" as="round">
		<li>
			<f:link.action action="list" controller="GroupRound" arguments="{cup: recentCup, groupRound: round}">{round.name}</f:link.action>
		</li>
	</f:for>
</ul>

	<f:render partial="GroupRound/Show" arguments="{groupRound: groupRound, account: account}" />

<cs:ifIsAdmin>
	<ul>
		<li><f:link.action action="new" controller="GroupRound" arguments="{cup: recentCup}">new GroupRound</f:link.action></li>
		<li><f:link.action action="create" controller="KoRound" arguments="{cup: recentCup}">new KoRounds from existing GroupRounds</f:link.action></li>
	</ul>
</cs:ifIsAdmin>

</f:section>
