<f:layout name="Default" />

<f:section name="Content">
	<p>new group round:</p>

	<f:form action="create" name="newGroupRound">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="control-group"><f:form.textfield property="name" id="name" /></div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="teams">Teams</label>
			<div class="control-group">
				<f:form.select multiple="1" options="{cup.teams}" property="teams" id="teams" optionLabelField="name" />
			</div>
		</div>
		<f:form.hidden property="cup" id="cup" value="{cup}"/>
		
		<div class="control-group">
			<div class="controls">
				<f:form.submit value="Create" class="btn"/>
			</div>
		</div>
	</f:form>
	
	<ul>
		<li>
			<f:link.action action="show" controller="Cup" arguments="{cup: cup}">to Cup {cup.name}</f:link.action>
		</li>
	</ul>
</f:section>