<f:layout name="Default" />

<f:section name="Content">

	<f:link.action class="btn" action="index" arguments="{cup: round.cup}">list</f:link.action>
	<f:render partial="Round/Show" arguments="{round: round}" />
	<f:render partial="Round/GroupTable" arguments="{round: round}" />

	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<f:form action="index" method="update" controller="GroupMatchCreator" arguments="{groupRound: round}">
			<f:form.hidden name="__method" value="PUT" />
			<f:form.submit name="submit" value="update" class="btn" />
		</f:form>
	</f:security.ifHasRole>
	<f:render partial="Round/GroupRound/Edit" arguments="{round: round}" />
	<f:render partial="Match/GroupMatch/New" arguments="{recentCup: recentCup, round: round}" />

</f:section>
