	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
		<h5>new group round:</h5>

		<f:form class="form-horizontal" controller="GroupRound" action="index" name="round" method="post" arguments="{cup: recentCup}">
			<f:form.hidden property="cup" value="{recentCup}" />
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls"><f:form.textfield property="name" id="name" /></div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="teams">Teams</label>
				<div class="controls">
					<f:form.select size="20" multiple="1" options="{recentCup.teams}" property="teams" id="teams" optionLabelField="name" />
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<f:form.submit value="Create" class="btn"/>
				</div>
			</div>
		</f:form>
	</f:security.ifHasRole>

