<div class="row">
			<ul class="nav nav-pills">
					<li {f:if(condition:'{active}', else: ' class="active"')}>
						<f:link.action action="index" controller="OpenChatEntry" arguments="{cup: cup}">
							all
						</f:link.action>
					</li>
				<f:for each="{tipGroups}" as="tipGroup">
					<li {f:if(condition:'{tipGroup} == {active}', then: ' class="active"')}>
						<f:link.action action="index" controller="TipGroupChatEntry" arguments="{tipGroup: tipGroup, cup: cup}">
							{tipGroup.name}
						</f:link.action>
					</li>
				</f:for>
			</ul>
</div>
