<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
<h5>edit TipGroup</h5>
	<f:form class="form-horizontal" action="index" name="tipGroup" object="{tipGroup}">
		<f:form.hidden name="__method" value="PUT" />
		<div class="control-group">
			<label class="control-label" for="name">name</label>
			<div class="controls">
				<f:form.textfield property="name" id="name" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<f:form.submit class="btn" value="Update" />
			</div>
		</div>
	</f:form>
</f:security.ifHasRole>

