<f:layout name="Default" />

<f:section name="Title">New tip group</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new tip group:</p>

	<f:form action="create" objectName="newTipGroup">
		<ol>
			<li>
				<label for="name">Tip group</label>
				<f:form.textfield property="name" id="name" />
			</li>
		
			<li>
				<label for="users">Tip group</label>
				<f:form.textfield property="users" id="users" />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>