<h2>Herzlich Willkommen bei www.tipptrip.de
	die Internet-Tipplattform zur Fußball-WM 2018</h2>

<p>
	Am 14.06.2018 ist es wieder soweit: Es wird WM-Geschichte geschrieben!!!
	Vier Wochen lang wird ein Millionenpublikum für ihr Land mitfiebern.
	Dann laufen wieder interne Spieltipps in Büros, Firmen, Kneipen und in den Vereinen!
	Das Team von www.tipptrip.de bietet euch aus diesem Grund eine Tippplattform an, in der das Tippen kinderleicht ist.
	Alle Spiele und Ergebnisse werden automatisch in übersichtlichen Tabellen bis zum Finalspiel berrechnet und angezeigt.
	Lästiges Rechnen und Notieren wird dadurch überflüssig, so dass sich jeder Spieler voll und ganz dem Tippen widmen kann.
	Einen weiteren Vorteil bietet unser Tippsystem, in dem jeder Mitspieler zu jeder Zeit sowohl den aktuellen Spieltipp seiner Kontrahenten, als auch den Zwischenstand seiner kompletten Tippgruppe überschauen kann.
	Spannend wird dies vor allem dadurch, das der Spieler zu jeder Zeit bis zum Anpfiff seinen jeweiligen Tipp abgeben kann!
	Tippen bis zum Anpfiff!!!
	Dieser Service ist 100% kostenfrei, es ensteht kein Aufwand!!!
</p>


<h3>Spielregeln</h3>
<p>
	Bis zum Anpfiff kann jeder Mitspieler seinen persönlichen Tipp zum jeweiligen Spiel abgeben.
<div class="alert alert-success">
	<ul>
		<li>Hat man ein Spiel exakt richtig getippt, erhält man 2 Punkte auf sein Konto.</li>
		<li>Stimmt der Trend des Tipps (Sieg, Unentschieden oder Verloren) erhält der Spieler 1 Punkt</li>
	</ul>
</div>
Die so erreichten Punkte werden sofort in der Highscore-Liste addiert und angezeigt.</p>
<div class="alert alert-success">
	<strong>Vorsicht:</strong> In der Finalrunde wird nur der Endstand (also inkl. Verlängerung  / Elfmeterschiessen) bewertet.
</div>

<h3>Special</h3>
<p>
	Die Besten Spieler jeder Tippgruppe werden in der Rangliste angezeigt und dementsprechend gewürdigt. Möge der Beste Gewinnen!!!
</p>

<p>
	Viel Spass wünscht euch,<br />
	das www.tipptrip.de-Team
</p>

<hr />
<p>
<ul>
	<li><small>This website is powered by <a href="http://flow.typo3.org/" target="_blank">TYPO3 Flow</a> - inspiring people to share!</small></li>
	<li><small><a href="https://github.com/achimfritz/championship-distribution" target="_blank">Download Distribution on github</a></small></li>
</ul>
</p>