	<f:form class="form-horizontal" action="index" controller="RegistrationRequest" name="registrationRequest" method="post">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-8">
				<div class="form-group">
					<f:form.textfield property="username" id="username" placeholder="Username"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-8">
				<div class="form-group">
					<f:form.password property="newPassword" id="newPassword" placeholder="{f:translate(id: 'password.newPassword')}"/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-8">
				<div class="form-group">
					<f:form.textfield property="email" id="email" placeholder="E-Mail"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-8">
				<div class="form-group">
					<f:form.password property="newPasswordRepeat" id="newPasswordRepeat" placeholder="{f:translate(id: 'password.newPasswordRepeat')}"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-8">
				<div class="form-group">
					<f:form.textfield property="tipGroupName" id="tipGroupName" placeholder="{f:translate(id: 'tipGroupName')}"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-8">
				<div class="form-group">
					<f:form.submit class="btn btn-success" value="{f:translate(id: 'registrationRequest')}" />
				</div>
			</div>
		</div>
	</f:form>
