<h5>Registration Request</h5>
<ul>
	<li>email: {registrationRequest.email}</li>
	<li>username: {registrationRequest.username}</li>
	<li>tipGroupName: {registrationRequest.tipGroupName}</li>
</ul>
<h5>User</h5>
<f:if condition="{user}">
	<f:then>
		<f:render partial="User/Show" arguments="{user: user, simple: 1}" />	
	</f:then>
	<f:else>
		no matching user found
	</f:else>
</f:if>
<h5>TipGroup</h5>
<f:if condition="{tipGroup}">
	<f:then>
		<f:render partial="TipGroup/Show" arguments="{tipGroup: tipGroup}" />
	</f:then>
	<f:else>
		no matching tipGroup found
		<f:render partial="TipGroup/New" />
	</f:else>
</f:if>
