		<h3>new Cup</h3>

		<f:form class="form-horizontal" action="index" controller="Cup" name="cup" method="post">
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controlls"><f:form.textfield property="name" id="name" /></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="startDate">startDate</label>
				<div class="control-group">
					<f:form.textfield property="startDate" id="startDate" class="datetimepicker" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="teams">Teams</label>
					<div class="controlls">
						<f:form.select size="20" multiple="1" options="{allTeams}" property="teams" id="teams" optionLabelField="name" />
					</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:form.submit value="Create" class="btn"/>
				</div>
			</div>
		</f:form>
