<f:if condition="{contactRequests}">
	<f:then>
		<table class="table dataTable">
			<thead>
				<tr>
					<th>email</th>
					<th>subject</th>
					<th>creationDate</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{contactRequests}" as="contactRequest" iteration="it">
				<tr class="{f:if(condition: it.isOdd, then: ' cs-odd', else: ' cs-even')}">
								<td>{contactRequest.email}</td>
								<td>{contactRequest.subject}</td>
								<td><f:format.date format="d.m.Y H:i">{contactRequest.creationDate}</f:format.date></td>
								<td><f:render partial="Actions/RestAction" arguments="{object: contactRequest}" /></td>
				</tr>
			</f:for>
			</tbody>
		</table>
	</f:then>
	<f:else>
		<p>no request created</p>
	</f:else>
</f:if>
