<h3>edit User</h3>
<f:form class="form-horizontal" action="index" object="{user}" name="user">
	<f:form.hidden name="__method" value="PUT" />
	<div class="control-group">
		<label class="control-label" for="accountIdentifier">accountIdentifier</label>
		<div class="controls"><f:form.textfield property="account.accountIdentifier" id="accountIdentifier" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="email">email</label>
		<div class="controls"><f:form.textfield property="email" id="email" /></div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="tipGroups">tipGroups</label>
		<div class="controls"><f:form.select options="{allTipGroups}" multiple="1" optionLabelField="name" property="tipGroups" id="tipGroups" /></div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<f:form.submit value="Update" class="btn"/>
		</div>
	</div>
</f:form>
