	<f:if condition="{users}">
		<f:then>
			<ul>
				<f:for each="{users}" as="user">
					<li>
						<ul class="inline">
							<li>
									{user.name}
								<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
									<f:render partial="Actions/RestAction" arguments="{object: user}" />
								</f:security.ifHasRole>
							</li>
							<li>
								<f:link.action class="btn" action="index" controller="UserTip" arguments="{user: user, cup: recentCup}">
									tips TODO should go to user show
								</f:link.action>
							</li>
						</ul>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No users created yet.</p>
		</f:else>
	</f:if>

