<h3>password</h3>
<f:form class="form-horizontal" action="index" controller="Password" name="password" method="post">
	<f:form.hidden property="user" value="{user}" />
	<div class="control-group">
		<label class="control-label" for="newPassword">newPassword</label>
		<div class="controls"><f:form.password property="newPassword" id="newPassword" /></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="newPasswordRepeat">newPasswordRepeat</label>
		<div class="controls"><f:form.password property="newPasswordRepeat" id="newPasswordRepeat" /></div>
	</div>
	<div class="control-group">
		<div class="controls">
			<f:form.submit class="btn" value="Create" />
		</div>
	</div>
</f:form>
