	<h3>{user.name}</h3>
		<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
			<f:render partial="Actions/Delete" arguments="{object: user}" />
		</f:security.ifHasRole>
	<ul class="inline">
		<li>
			<f:link.action action="index" controller="User" class="btn" arguments="{cup: recentCup}">list</f:link.action>
		</li>
	</ul>
	<ul>
		<li>
			account Identifier: {user.account.accountIdentifier}
		</li>
		<li>
			<f:link.action action="index" controller="UserTip" arguments="{cup: recentCup, user: user}" class="btn">
				{countOfTips} Tips
			</f:link.action>
		</li>
	</ul>
<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
	<f:render partial="TipCreator/Edit" arguments="{user: user, cup: recentCup}" />
</f:security.ifHasRole>

