{namespace cs=AchimFritz\ChampionShip\ViewHelpers}

<ul class="inline">
	<cs:ifIsGroupMatch match="{match}">
		<li>
			<f:link.action action="index" class="btn" arguments="{cup: match.cup}" controller="GroupMatch">GroupMatch.List</f:link.action>
		</li>
		<li>
			<f:link.action action="index" class="btn" arguments="{round: match.round, cup: match.cup}" controller="GroupRound">Round.List {match.round.name}</f:link.action>
		</li>
	</cs:ifIsGroupMatch>
	<cs:ifIsKoMatch match="{match}">
		<li>
			<f:link.action action="index" class="btn" arguments="{round: match.round, cup: match.cup}" controller="KoRound">{match.round.name}</f:link.action>
		</li>
	</cs:ifIsKoMatch>
</ul>
