<ul>
	<f:if condition="{match.round.isGroupRound}">
		<li>
			<f:link.action action="list" controller="GroupRound" arguments="{cup: match.round.cup, groupRound: match.round}" >to groupRound {match.round.name}</f:link.action>
		</li>
		<li>
			<f:link.action action="list" controller="GroupMatch" arguments="{cup: match.round.cup}" >to groupMatches</f:link.action>
		</li>
	</f:if>
	<f:if condition="{match.round.isKoRound}">
		<li>
			<f:link.action action="list" controller="KoRound" arguments="{cup: match.round.cup, koRound: match.round}" >to groupRound {match.round.name}</f:link.action>
		</li>
	</f:if>
</ul>