{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:if condition="{match.hostTeam}">
   <f:then>
      {match.hostTeam.name}
   </f:then>
   <f:else>
      <cs:ifIsCrossGroupMatch match="{match}">
         <f:then>
            {match.hostGroupRank}. {match.hostGroupRound.name}
				<f:if condition="{match.currentHostTeam}">
					({match.currentHostTeam.name})
				</f:if>
         </f:then>
         <f:else>
            <cs:ifIsTeamsOfTwoMatchesMatch match="{match}">
               winner of {match.hostMatch.name}
				<f:if condition="{match.currentHostTeam}">
					({match.currentHostTeam.name})
				</f:if>
            </cs:ifIsTeamsOfTwoMatchesMatch>
         </f:else>
      </cs:ifIsCrossGroupMatch> 
   </f:else>
</f:if>
-
<f:if condition="{match.guestTeam}">
   <f:then>
      {match.guestTeam.name}
   </f:then>
   <f:else>
      <cs:ifIsCrossGroupMatch match="{match}">
         <f:then>
            {match.guestGroupRank}. {match.guestGroupRound.name}
				<f:if condition="{match.currentGuestTeam}">
					({match.currentGuestTeam.name})
				</f:if>

         </f:then>
         <f:else>
            <cs:ifIsTeamsOfTwoMatchesMatch match="{match}">
               winner of {match.guestMatch.name}
					<f:if condition="{match.currentGuestTeam}">
						({match.currentGuestTeam.name})
					</f:if>
            </cs:ifIsTeamsOfTwoMatchesMatch>
         </f:else>
      </cs:ifIsCrossGroupMatch> 
   </f:else>
</f:if>
