<f:form action="update" object="{match}" name="match">
	<ol>
		<li>
			<label for="name">Cup</label>
			<f:form.select property="cup" id="cup" options="{allCups}" optionLabelField="name" />
		</li>
		<li>
			<label for="hostTeam">HostTeam</label>
			<f:form.select options="{allTeams}" property="hostTeam" id="hostTeam" optionLabelField="name" />
		</li>
		<li>
			<label for="guestTeam">GuestTeam</label>
			<f:form.select options="{allTeams}" property="guestTeam" id="guestTeam" optionLabelField="name" />
		</li>
		<li>
			<label for="startDate">startDate (Y-m-d\TH:i:sP, 2005-08-15T15:52:01+00:00)</label>
			<f:form.textfield property="startDate" id="startDate" value="{match.startDate -> f:format.date(format:'Y-m-d\TH:i:sP')}" />
		</li>
		<f:if condition="{roundMatch}">
		<li>
			<label for="name">name</label>
			<f:form.textfield property="name" id="name" />
		</li>
		</f:if>
		<li>
			<f:form.submit value="update" />
		</li>
	</ol>
</f:form>