	<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
<f:if condition="{match.currentGuestTeam}">
	<h4>set guestTeam</h4>
	<f:form action="index" object="{match}"  name="match" controller="CrossGroupMatch" method="put">
		<f:form.hidden name="__method" value="PUT" />
		<div class="control-group">
			<label class="control-label" for="guestTeam">guestTeam {match.currentGuestTeam.name}</label>
			<div class="controlls">
				<f:form.hidden property="guestTeam" id="guestTeam" value="{match.currentGuestTeam}" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<f:form.submit value="Update" class="btn"/>
			</div>
		</div>
	</f:form>
</f:if>
	</f:security.ifHasRole>


