<f:if condition="{matches}">
	<f:then>
		<table>
			<f:for each="{matches}" as="match">
				<tr>
					<f:render partial="Match/Show" arguments="{match: match}" />
					<td>
						<f:security.ifHasRole role="AchimFritz.ChampionShip:Administrator">
							<f:link.action class="btn" action="index" controller="Match" arguments="{cup: match.cup, match: match}">Show</f:link.action>
						</f:security.ifHasRole>
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
		<p>No matches created yet.</p>
	</f:else>
</f:if>
