{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:format.date format="d.m.Y H:i">{match.startDate}</f:format.date>

<f:if condition="{match.hostParticipant.team}">
	<f:then>
		{match.hostParticipant.team.name}
	</f:then>
	<f:else>
		no team set
	</f:else>
</f:if>
-
<f:if condition="{match.guestParticipant.team}">
	<f:then>
		{match.guestParticipant.team.name}
	</f:then>
	<f:else>
		no team set
	</f:else>
</f:if>

<f:if condition="{match.result}">
	<f:then>
		{match.result.hostTeamGoals} : {match.result.guestTeamGoals}
	</f:then>
	<f:else>
		:
	</f:else>
</f:if>

<cs:ifIsAdmin>
	<f:link.action action="editResult" controller="Match" arguments="{match: match}">edit result</f:link.action>
	<f:link.action action="changeHost" controller="Match" arguments="{match: match}">change host</f:link.action>
	<f:link.action action="edit" controller="Match" arguments="{match: match}">edit</f:link.action>
</cs:ifIsAdmin>
