{namespace cs=AchimFritz\ChampionShip\ViewHelpers}
<f:if condition="{matches}">
	<f:then>
			<f:for each="{matches}" as="match">
				<div class="cs-teaser">
				<p><f:format.date format="d.m.Y H:i">{match.startDate}</f:format.date></p>
				<cs:userTip match="{match}">
					<table class="table {cs:ifTipIsEditable(tip: tip, then: ' tip')}">
						<tr>
							<td>
								<f:render partial="Match/Duell/Host" arguments="{match: match}" />
							</td>
							<td>
							<f:if condition="{match.result}">
								{match.result.hostTeamGoals}
							</f:if>
								<f:security.ifHasRole role="AchimFritz.ChampionShip:User">
									(
										<cs:ifTipIsEditable tip="{tip}">
											<f:then>
												<input class="tipId" type="hidden" value="{f:format.identifier(value: tip)}" />
												<input class="hostTip" type="text" size="1" style="width: 15px;" value="{tip.result.hostTeamGoals}" />
											</f:then>
											<f:else>
												{tip.result.hostTeamGoals}
											</f:else>
										</cs:ifTipIsEditable>
									)
								</f:security.ifHasRole>
							</td>
						</tr>
						<tr>
							<td>
								<f:render partial="Match/Duell/Guest" arguments="{match: match}" />
							</td>
							<td>
							<f:if condition="{match.result}">
									{match.result.guestTeamGoals}
							</f:if>
								<f:security.ifHasRole role="AchimFritz.ChampionShip:User">
									(
										<cs:ifTipIsEditable tip="{tip}">
											<f:then>
												<input class="guestTip" type="text" size="1" style="width: 15px;" value="{tip.result.guestTeamGoals}" />
											</f:then>
											<f:else>
												{tip.result.guestTeamGoals}
											</f:else>
										</cs:ifTipIsEditable>
									)
								</f:security.ifHasRole>
							</td>
						</tr>
					</table>
				</cs:userTip>
				<f:security.ifAuthenticated>
						<f:render partial="Actions/Show" arguments="{object: match}" />
				</f:security.ifAuthenticated>
				</div>
			</f:for>
	</f:then>
	<f:else>
		<p>No matches created yet.</p>
	</f:else>
</f:if>
