<f:if condition="{matches}">
	<f:then>
			<f:for each="{matches}" as="match">
				<div class="cs-teaser">
				<p><f:format.date format="d.m.Y H:i">{match.startDate}</f:format.date></p>
				<table class="table">
					<tr>
						<td>
							<f:render partial="Match/Duell/Host" arguments="{match: match}" />
						</td>
						<td>
						<f:if condition="{match.result}">
							<f:then>
								{match.result.hostTeamGoals}
							</f:then>
							<f:else>
								:
							</f:else>
						</f:if>
						</td>
					</tr>
					<tr>
						<td>
							<f:render partial="Match/Duell/Guest" arguments="{match: match}" />
						</td>
						<td>
						<f:if condition="{match.result}">
							<f:then>
								{match.result.guestTeamGoals}
							</f:then>
							<f:else>
								:
							</f:else>
						</f:if>
						</td>
					</tr>
				</table>
				<f:security.ifAuthenticated>
						<f:render partial="Actions/Show" arguments="{object: match}" />
				</f:security.ifAuthenticated>
				</div>
			</f:for>
	</f:then>
	<f:else>
		<p>No matches created yet.</p>
	</f:else>
</f:if>
